<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Who Am I?</title>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="after-login-container">
  <!-- back button -->
  <div class="py-4 home-button" onclick="location.href='/home/mypage'">
    <h3><i class="fas fa-arrow-left"></i></h3>
  </div>
  <h3 class="py-4">이메일 변경</h3>
  <div style="padding:1.5rem">
    <form class="needs-validation" onsubmit="return validateForm()" th:action="@{/home/mypage/email}" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <div class="mb-3">
        <label for="email-input" class="form-label" style="margin-left:0.5rem">새로운 이메일</label>
        <input type="email" class="form-control" id="email-input" name="email">
        <div class="invalid-feedback" id="email-input-invalid-1">이메일 형식이 맞지 않습니다.</div>
        <div class="invalid-feedback" id="email-input-invalid-2">중복된 이메일입니다.</div>
        <div class="form-text">이메일은 아이디와 비밀번호를 찾을 때 필요합니다. 필수 항목은 아닙니다.</div>
      </div>
      <button type="submit" class="btn btn-primary">이메일 등록</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/email.js"></script>
</body>
</html>