<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Who Am I?</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="before-login-container">
  <div style="padding:2rem 10%">
    <p style="font-size:3rem;margin-bottom:2rem">ERROR</p>
    <p th:text="${'제목: ' + errorMessageTitle}"></p>
    <p style="margin-bottom:3rem" th:text="${'원인: ' +errorMessageContent}"></p>
    <div>
      <a href="javascript:history.back()" style="color: forestgreen;text-decoration: none;border: 3px forestgreen solid;padding: 2px 6px;border-radius: 7px">이전 페이지</a>
      <a href="/" style="color: white;text-decoration: none;background-color: green;padding: 5px 9px;border-radius: 7px">메인 화면</a>
    </div>
  </div>
</div>

</body>
</html>