<!DOCTYPE html>
<head>
    <title>Who Am I?</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="before-login-container">
    <div class="position-relative">
        <img src="/img/main.png" style="width:100%">
            <button type="button" class="position-absolute start-50 translate-middle btn btn-dark" style="top:80%;" onclick="location.href='/home'">시작하기</button>
    </div>
</div>
</body>
</html>